.hero-image-main-container {
    height: 70vh;
    width: 100vw;
    background: rgb(225, 219, 88, .2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image-content-container {
    padding: 48px;
    border: 4px solid rgba(135, 206, 235);
}


.hero-image-title {
    font-size: 64px;
}

.hero-image-subtitle {
    font-style: italic;
}